<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
	<link rel="stylesheet" href="/adminv2/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/adminv2/libs/font-awesome.min.css"/>
	<link rel="stylesheet" href="/adminv2/libs/ionicons.min.css"/>
	<!-- DataTables -->
	<link rel="stylesheet" href="/adminv2/plugins/datatables/dataTables.bootstrap.css"/>
	<!-- daterange picker -->
	<link rel="stylesheet" href="/adminv2/plugins/daterangepicker/daterangepicker.css"/>
	<!-- bootstrap datepicker -->
	<link rel="stylesheet" href="/adminv2/plugins/datepicker/datepicker3.css"/>
	<link rel="stylesheet" href="/adminv2/dist/css/AdminLTE.min.css?v=1"/>
	<link rel="stylesheet" href="/adminv2/dist/css/skins/_all-skins.min.css?v=1"/>
</head>
<body>

<!-- Navbar -->
<header class="main-header" th:fragment="header" style="z-index: 1100">
	<!-- Logo -->
	<a  class="logo">
		<!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini">商城</span>
		<!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><span>商城管理系统</span></span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top">


	</nav>


</header>

</body>
</html>